@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'MuseoModerno', cursive;
}

main {
    text-align: center;
}

h1 {margin-bottom: 50px;}

/* Image & Video Settings */


#videoMain {
    margin-bottom: 100px;
}

/* Footer Settings */
.socials {
    width: 3%;
    height: auto;
}

@media (max-width: 1200px) {
    .socials{width: 5%;}
}

@media (max-width: 576px) {
    .socials{width: 8%;}
}

.credits {
    display: flex;
    gap: 50px;
    justify-content: center;
}

/* Music Page Settings */
.soundcloudLogo {
    width: 10%;
    margin-bottom: 50px;
}

.aspect-ratio-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.overview {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
}

/* Banner behind logo settings */
.homeBanner {
    position: relative;
    background: url('images/banners/WUP!-Banner.jpeg') no-repeat center center; 
    background-size: cover;
    padding-top: 56.25%; /* This controls the aspect ratio */
    width: 100%;
    margin-top: 55px; /* Height of navbar */
    margin-bottom: 50px;
}

.showBanner {
    position: relative;
    background: url('images/banners/WUP!-Live-Banner.webp') no-repeat center center; 
    background-size: cover;
    padding-top: 75%; /* This controls the aspect ratio */
    width: 100%;
    margin-top: 55px; /* Height of navbar */
    margin-bottom: 50px;
}

.musicBanner {
    position: relative;
    background: url('images/banners/Recordings-Banner.png') no-repeat center center; 
    background-size: cover;
    padding-top: 25%; /* This controls the aspect ratio */
    width: 100%;
    margin-top: 55px; /* Height of navbar */
    margin-bottom: 50px;
}

.logoMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    margin: 0 auto; /* Adjust the bottom margin as needed */
    display: block;
}

@media (max-width: 768px) {
    .banner {
        height: 150px; /* Adjust this to control the height of the banner on small screens */
    }
}

/* Show Page Settings */
.show {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px; /* Add some space between shows */
}

.show-date, .show-venue, .show-city {
    flex: 1;
    text-align: center;
}

.no-shows {
    justify-content: center;
    align-items: center;
}

/* Mobile Show Page Settings */
.show {
    display: flex;
    flex-direction: row; /* Display the items in a row by default */
    justify-content: space-between;
    margin-bottom: 20px; /* Add some space between shows */
}

.show-date, .show-venue, .show-city {
    flex: 1;
    text-align: center;
}

/* Change the layout on screens that are 600px or smaller */
@media (max-width: 600px) {
    #upcoming-shows-header {
        text-align: left; 
        padding-left: 15px;
    }

    .show {
        flex-direction: column; /* Display the items in a column */
    }

    .show-date, .show-venue, .show-city {
        text-align: left;
    }
}

/* About Page Settings */
#caitiBio, .bandBioPics {border-radius: 10px;}

@media (max-width: 2000px) {

    #caitiBio {
        width: 50%; /* Image Size */
        margin-bottom: 20px;
    }
    .bandBioPics {
        width: 100%; /* Image Size */
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    #caitiBio {
        width: 100%; /* Image Size */
    }
}

@media (max-width: 767px) {
    #caitiBio, .bandBioPics {
        border-radius: 0;
    }

    .col-md-6.text-center {
        padding-right: 0;
    }
}


/* Gallery Settings */
.lb-nav .lb-next {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    cursor: pointer;
    background: url('path-to-your-lightbox2-images-folder/next.png') no-repeat right center;
  }
